.formWrapper {
  padding: 1rem 2rem;
  width: 40%;
  height: 100%;
  form {
    display: grid;
    gap: 2rem;
    button {
      background: purple;
    }
  }
  a {
    all: unset;
    cursor: pointer;
    p {
      margin-top: 10%;
    }
  }
}
