.loginContainer {
  display: flex;
  height: 100vh;
  display: flex;
  .inner {
    background-color: aliceblue;
    width: 60%;
    height: 100%;
  }
  .inner2 {
    width: 40%;
    padding: 1rem 2rem;
    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}
