.filterContainer {
  padding: 12px 2rem;
  width: auto;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid #dcdcdc;
  .heading {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    h1 {
      margin: 0;
      font-size: 1.6em;
    }
  }
  .filter {
    display: flex;
    align-items: center;
    gap: 1rem;
    .dropDown {
      width: 140px;
    }
  }
}
