.uodateNotesContainer {
  display: flex;
  width: 100%;
  .innerContainer {
    width: 70%;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #ccc;
      padding: 10px 20px;
      h1 {
        margin: 0;
      }

      .leftContent {
        display: flex;
        align-items: center;
      }
    }

    .textEditors {
      padding: 1rem;
    }
  }
  .sidebar {
    width: 30%;
    height: 96vh;
    // overflow: auto;
    border-left: 1px solid #ccc;
    .header {
      padding: 10px 20px;
      h1 {
        margin: 0;
      }
    }
    .quesList {
      padding: 0 20px 10px 20px;
      width: 100%;
      list-style: none;
      border-bottom: 1px solid #ccc;
    }
  }
}
