.sidebarContainer {
  padding: 2rem 0 0 0;
  overflow: auto;
  // height: 100vh;
  border-right: 1px solid #dcdcdc;
  width: 13%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .dp {
    height: 60px;
    width: 60px;
    background-color: beige;
    border-radius: 15px;
  }
  .sidebarOptions {
    margin: 2rem 0 0 0;
    .options {
      display: flex;
      color: #000;
      width: 100%;
      align-items: center;
      gap: 15px;
      padding: 10px;
      cursor: pointer;
      border-radius: 10px;
      p {
        margin: 0;
        font-weight: 500;
        font-size: 15px;
      }
    }
  }
}
